@{
  Layout = "_Layout";
}

<div class="container">

<h1>Add a stylist</h1>
<p>Add a new stylist here:</p>

<form action="/stylists" method="post">
  <label for="stylistName">Stylist name</label>
  <input id="stylistName" name="stylistName" type="text">
  <div class="form-group">
  <p>Please Select all specialities about this stylist:</p>
  @foreach (var speciality in Model)
  {
    <input type="checkbox" name="stylistSpecialities" value=@speciality.GetId()> @speciality.GetName()<br>
  }
  </div>
  <button type="submit">Add</button>
</form>

</div>
<p><a href="/stylists" class="btn btn-success">Stylist List.</a></p>
