@{
  Layout = "_Layout";
}

<div class="container">

<h1>Add a stylist</h1>
<p>Add a new stylist here:</p>

<form action="/stylists" method="post">
  <label for="stylistName">Stylist name</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Home Page</a></p>
<p><a href="/stylists">Stylist List.</a></p>
</div>
