@{
Layout = "_Layout";
}
<div class="container">

  <h3>Here are all the clients for this stylist:</h3>
  @if (@Model["clients"].Count == 0)
  {
  <h3>No Clients have been added into stylist yet!</h3>
  }
  <ol>
    @foreach (var client in @Model["clients"])
    {
      <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a>
      <p><a href="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()/delete" >Delete This Client</a></p>
      </li>
    }
  </ol>
  <p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p>
  <p><a href='/stylists'>Stylists list</a></p>
  <p><a href='/'>Home Page</a></p>
