@{
  Layout = "_Layout";
}

<div class="container">

<h1>Add a Speciality</h1>


<form action="/specialities" method="post">
  <label for="specialityName">Speciality name</label>
  <input id="specialityName" name="specialityName" type="text">
  <button type="submit">Add</button>
</form>

</div>
<p><a href="/specialities" class="btn btn-success">Speciality List.</a></p>
