@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>Here are all stylists who has  <a href='/specialities'>@Model["speciality"].GetName()</a> speciality</h1>
@if (@Model["stylists"].Count == 0)
  {
    <h3>No stylists exist!</h3>
  }
<ol>
@foreach (var stylist in Model["stylists"])
{
  <li><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></li>
}
</ol>
</div>
<a href="/specialities" class="btn btn-success">Go back to specialities list</a>