@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Client Details: </h1>
  <h2>@Model["client"].GetName()</h2>
  <p>Phone number : @Model["client"].GetPhone()</p>
  <h3>Stylist: <a href='/stylists'>@Model["stylist"].GetName()</a></h3>

</div>
  <a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit' class="btn btn-success">Edit this Client</a><br>
  <a href='/stylists/@Model["stylist"].GetId()/clients/new' class="btn btn-success">Add another client</a><br>
  <a href='/stylists' class="btn btn-success">View all stylists</a>
